.courses h1 {
    padding: 0 15px;
    color: rgb(61, 156, 61);
    text-shadow: 4px -1px 10px rgba(150, 150, 150, 1);
    text-align: center;
    font-size: 3rem;
}

.courses table, .courses th, .courses td {
    border: 1px solid;
    border-color: rgb(88, 86, 86);
  }

  .courses table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
        rgba(0, 0, 0, 0.12) 0px -12px 30px, 
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, 
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .courses th {
    padding: 15px;
  }

  #rowHeader {
    padding: 15px;
    font-size: 1.5rem;
    background-color: rgb(55, 112, 55);
    margin: 25px;
  }

  .courses tr {
    color: rgb(230, 220, 220);
    text-align: center;
    font-size: 1.5rem;
  }

  .courses tr:nth-child(even) {
    background-color: rgb(69, 201, 16);
}

.courses tr:nth-child(odd) {
    background-color: rgb(103, 160, 83);
}

.courses td {
    padding: 10px;
}
