#navbar-custom {
    padding: 5px 10px;
    background-color: rgb(231, 229, 229);
    margin-bottom: 25px;
}

.navbar-Nav {
    display: flex;
    margin: auto;
    width: 50%;
}

#logo{
    padding-right: 0;
    color: rgb(61, 156, 61);
    font-weight: 700;
    font-size: xx-large;
    text-shadow: 1px 1px rgb(207, 202, 202);
    margin: auto;
}

#golfbookHeaderLogo {
    background-color: rgb(61, 156, 61);
    padding: 3px;
    border-radius: 20%;
    color: #fff;
    border-color: none;
    text-shadow: none;
}

.nav-link {
    padding: 0 15px;
    font-size: large;
    color: rgb(61, 156, 61);
    text-shadow: 1px 1px rgb(134, 131, 131);
}

.nav-link:hover {
    padding: 0 15px;
    color: rgb(20, 216, 20);
    text-shadow: 4px -1px 20px rgb(142, 241, 142);
    transition: 0.5s;
}