#navbar-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(231, 229, 229);
}

#logo{
    margin: auto;
    width: 50%;
    color: rgb(100, 136, 100);
    font-weight: 700;
    font-size: x-large;
    padding-right: 65px;
    text-shadow: 1px 1px rgb(134, 131, 131);
}

.nav-link {
    padding: 0 15px;
    color: rgb(61, 156, 61);
    text-shadow: 1px 1px rgb(134, 131, 131);
}

.nav-link:hover {
    padding: 0 15px;
    color: rgb(20, 216, 20);
    text-shadow: 1.5px 1.5px rgb(134, 131, 131);
    transition: 0.5s;
    font-size: 125%;
}