#navbar-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(231, 229, 229);
    margin-bottom: 25px;
}

#logo{
    margin: auto;
    width: 50%;
    color: rgb(100, 136, 100);
    font-weight: 700;
    font-size: xx-large;
    padding-right: 65px;
    text-shadow: 1px 1px rgb(207, 202, 202);
}

.nav-link {
    padding: 0 15px;
    font-size: large;
    color: rgb(61, 156, 61);
    text-shadow: 1px 1px rgb(134, 131, 131);
}

.nav-link:hover {
    padding: 0 15px;
    color: rgb(20, 216, 20);
    text-shadow: 4px -1px 20px rgb(142, 241, 142);
    transition: 0.5s;
}